<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multibets Calculator</title>
    <link type="text/css" href="/dashboard.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.flash', function() {
                $(this).remove();
            });
        });
    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="md-col-12">
            <div class="jumbotron">
                <h1>Welcome to AFL Multibets</h1>
                <p>Create all the combinations you can handle!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>