<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multibets Calculator</title>
    <link type="text/css" href="/dashboard.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.flash', function() {
                $(this).remove();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
           var listResults = [];

           //let's hide the table until there's some data
            $('#resultstable').hide();

            $(document).on('click','#addbtn', function() {
               var  multiresult = {
                   team1: $('#select-1').val(),
                   team1option1: $('#margin1').val(),
                   team1option2: $('#margin2').val(),
                   team2: $('#select-2').val(),
                   team2option1: $('#margin3').val(),
                   team2option2: $('#margin4').val(),
               }

               listResults.push(multiresult);
               // now re-render the table by appending a new row
                var multiRow = '<tr>' +
                    '<td>' + multiresult.team1 + '</td>' +
                    '<td>' + multiresult.team1option1 + '</td>' +
                    '<td>' + multiresult.team1option2 + '</td>' +
                    '<td>' + multiresult.team2 + '</td>' +
                    '<td>' + multiresult.team2option1 + '</td>' +
                    '<td>' + multiresult.team2option2 + '</td>' +
                    '<td class="text-center">' +
                    '<a>' +
                    '<input type="hidden" value=' + (listResults.length - 1) + '>' +
                    '<span class="glyphicon glyphicon-remove"></span>' +
                    '</a>' +
                    '</td>' +
                        '</tr>';

                $('#resultstable').append(multiRow);
                $('#resultstable').show();

                setNumCombos(listResults);

                $('#main-form').trigger("reset");

            });

            $(document).on("click","a",function() {
                var gameId = $(this).parent().find('input').val();
                listResults.splice(gameId,1);
                redrawTable(listResults);
                setNumCombos(listResults);
                if (listResults.length == 0) {
                    $('#resultstable').hide();
                    $('#numresults').val("num combos")
                }
            });

            $(document).on('click','#genbtn', function() {
                var url = window.location.href;

               // POST the variables to the API endpoint
               $.ajax({
                   type: "POST",
                   contentType: "application/json",
                   accept: 'text/plain',
                   url:  url.replace('multi','/') + 'api/multiresult/save',
                   data: JSON.stringify(listResults),
                   headers: {
                       "Combo-Description":$('#desc').val(),
                   },
                   dataType: 'text',
                   success : function(result) {
                       $('#resultstable tbody').empty();
                       $('#resultstable').hide();

                       // reset the table list
                       listResults = [];
                       console.log("SUCCESS: ", JSON.stringify(listResults));
                   },
                   error : function(e) {
                       alert("Error!");
                       console.log("ERROR: ", e);
                   }
               });
            });

        });
        function redrawTable(results) {
            $('#resultstable tbody > tr').remove();

            for (var i=0; i< results.length; i++) {

                var multiRow = '<tr>' +
                    '<td>' + results[i].team1 + '</td>' +
                    '<td>' + results[i].team1option1 + '</td>' +
                    '<td>' + results[i].team1option2 + '</td>' +
                    '<td>' + results[i].team2 + '</td>' +
                    '<td>' + results[i].team2option1 + '</td>' +
                    '<td>' + results[i].team2option2 + '</td>' +
                    '<td class="text-center">' +
                    '<a>' +
                    '<input type="hidden" value=' + i + '>' +
                    '<span class="glyphicon glyphicon-remove"></span>' +
                    '</a>' +
                    '</td>' +
                    '</tr>';

                $('#resultstable').append(multiRow);
            }
        };
        function setNumCombos(results) {
            //iterate over the listResults and count how many combos
            var subcount = 1;
            for(var i=0; i<results.length; i++) {
                games = 0;
                var result = results[i];
                if(result.team1option1 != "")
                    games++;
                if(result.team1option2 != "")
                    games++;
                if(result.team2option1 != "")
                    games++;
                if(result.team2option2 != "")
                    games++;
                subcount *= games;
            }

            $('#numresults').val(subcount);
        };
    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="md-col-12">
            <a href="multicombos">View all Multi Combos</a>
            <form id="main-form">
                <div class="row game-form buffers">
                    <div class="col-md-6" style="">
                        <div class="form-group" style="position: static;">
                            <label for="select-1">Team 1</label>
                            <select class="form-control" id="select-1">
                                <option value="Adelaide">Adelaide</option>
                                <option value="Brisbane">Brisbane</option>
                                <option value="Carlton">Carlton</option>
                                <option value="Collingwood">Collingwood</option>
                                <option value="Essendon">Essendon</option>
                                <option value="Fremantle">Fremantle</option>
                                <option value="Geelong">Geelong</option>
                                <option value="Gold Coast">Gold Coast</option>
                                <option value="GWS">GWS</option>
                                <option value="Hawthorn">Hawthorn</option>
                                <option value="Melbourne">Melbourne</option>
                                <option value="North Melbourne">North Melbourne</option>
                                <option value="Port Adelaide">Port Adelaide</option>
                                <option value="Richmond">Richmond</option>
                                <option value="St Kilda">St Kilda</option>
                                <option value="Sydney">Sydney</option>
                                <option value="West Coast">West Coast</option>
                                <option value="Western Bulldogs">Western Bulldogs</option>
                            </select>
                        </div>
                        <!-- Prepended checkbox -->
                        <label class="col-md-4 control-label" for="margin1">Option 1</label>
                        <input id="margin1" name="margin1" class="form-control" placeholder="leave blank to exclude" type="text">

                        <!-- Prepended checkbox -->
                        <label class="col-md-4 control-label" for="margin2">Option 2</label>
                        <input id="margin2" name="margin2" class="form-control" placeholder="leave blank to exclude" type="text">
                    </div>
                    <div class="col-md-6" style="">
                        <div class="form-group" style="position: static;">
                            <label for="select-2">Team 2</label>
                            <select class="form-control" id="select-2">
                                <option value="Adelaide">Adelaide</option>
                                <option value="Brisbane">Brisbane</option>
                                <option value="Carlton">Carlton</option>
                                <option value="Collingwood">Collingwood</option>
                                <option value="Essendon">Essendon</option>
                                <option value="Fremantle">Fremantle</option>
                                <option value="Geelong">Geelong</option>
                                <option value="Gold Coast">Gold Coast</option>
                                <option value="GWS">GWS</option>
                                <option value="Hawthorn">Hawthorn</option>
                                <option value="Melbourne">Melbourne</option>
                                <option value="North Melbourne">North Melbourne</option>
                                <option value="Port Adelaide">Port Adelaide</option>
                                <option value="Richmond">Richmond</option>
                                <option value="St Kilda">St Kilda</option>
                                <option value="Sydney">Sydney</option>
                                <option value="West Coast">West Coast</option>
                                <option value="Western Bulldogs">Western Bulldogs</option>
                            </select>
                        </div>
                        <!-- Prepended checkbox -->
                        <label class="col-md-4 control-label" for="margin3">Option 1</label>
                        <input id="margin3" name="margin3" class="form-control" placeholder="leave blank to exclude" type="text">

                        <!-- Prepended checkbox -->
                        <label class="col-md-4 control-label" for="margin4">Option 2</label>
                        <input id="margin4" name="margin4" class="form-control" placeholder="leave blank to exclude" type="text">

                    </div>
                </div>
            </form>
            <div class="form-inline">
                <button type="button" id="addbtn" name="addbtn" class="btn btn-primary">Add Game</button>
                <button type="buttpn" id="genbtn" name="genbtn" class="btn btn-success">Generate Combos</button>
                <input id="desc" name="desc" class="form-control" placeholder="description" type="text">
                <input id="numresults" class="form-control" placeholder="number of combos" type="text" readonly>
            </div>
            <div id="resultsdiv">
                <table id="resultstable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Team 1</th>
                            <th>Option 1</th>
                            <th>Option 2</th>
                            <th>Team 2</th>
                            <th>Option 1</th>
                            <th>Option 2</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
